# Ignore virtual environments
venv/
.gpt4all-venv/
.llama-venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

# Ignore other unwanted files
*.log

# Ignore environment configuration files
.env
