# Ignore virtual environments
venv/
.gpt4all-venv/
.llama-venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

# Ignore other unwanted files
*.log

# Ignore environment configuration files
.env

# Ignore specific large files
Llama/.venv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.dylib

Llama/.venv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.dylib
